{% load widget_tweaks %}

{% load static %}

{% include 'includes/navbar.html' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <!-- Adding custom css file -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}" />

        <!-- Addin htmx -->
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>